$border-color: #000;

.calculator__keys {
    width: 100%;

    .key--operator {
        display: inline-block;
        text-decoration: none;
        color: $border-color;
        padding: 20px;
        border: 1px solid $border-color;
        width: 25%;
        padding: 20px;

        &.submit-button {
            display: block;
            padding: 10px 0;
            text-align: center;
            width: 100%;
        }
    }
}