.calculator__display {
    padding-bottom: 20px;
    border: 1px solid black;
    height: 60px;
    text-align: center;
    width: 1200px;
    margin-left: 20px;

    &.invalid-expression {
        color: red;
    }

    span {
        padding: 2px;
    }
}