$calculatorKey: #20b2aa52;
$errorMessage: #ff0000;

.calculator__display {
    border: 1px solid black;
    height: 60px;
    background-color: $calculatorKey;
    padding: 10px 0 0 10px;

    &.invalid-expression {
        color: $errorMessage;
    }

    span {
        padding: 0 2px;
    }
}